{% extends 'visitors/base.html' %}
{% load staticfiles%}
{% block 'content' %}

    <section class="ftco-section ftco-no-pb ftco-no-pt" id="aboutSec">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 img img-2 order-md-last" style='background-image: url({{gcburl}}{{philosophy.featured_img}});'>
    				
    			</div>
    			<div class="col-md-6 py-5">
    				{% for phil in codes %}
    				<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<span class="{{phil.icon}}"></span>
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>{{phil.title}}</h3>
								<p>{{phil.description}}</p>
							</div>
  					</div>
  					{% endfor %}
    			</div>
    		</div>
    	</div>
    </section>

{% endblock %}