{% extends 'visitors/base.html' %}
{% block 'content' %}

    <section class="ftco-section testimony-section" id="accoSec" style="background-image: url({{gcburl}}{{accolade.featured_img}});" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
      <div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Merchandise  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3">{% autoescape off %}{{accolade.title}}{% endautoescape %}</h2>
            <p>{% autoescape off %}{{accolade.subtitle}}{% endautoescape %}</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
          	<div class="row">
    				{% for award in accolades %}
		    			<div class="col-md-6 item">
		    				<div class="pricing-wrap img" style="background-image: url({{gcburl}}{{award.image}});">
		    					<div class="title p-4">
		    						<h3>{{award.title}}</h3>
		    						<span>{{award.description}}</span>
		    					</div>
		    					<div class="text p-4 d-flex align-items-end">
<!-- 		    						<a href="#" class="btn-custom px-4 py-2">Enroll Now</a> -->
		    						<div>
<!-- 		    							<span class="price">$240.00</span> -->
		    						<h3>{{award.title}}</h3>
		    						<p>{{award.description}}</p>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		              {% endfor %}
		        </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}