{% load staticfiles %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">

    
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		
		<link rel="stylesheet" href="{% static 'fonts/jki/stylesheet.css' %}">
		<style>
		.jki_font{
				text-transform: inherit;font-family: 'english_towneregular';
				text-transform: none !important;
		}
		.jki_font:first-of-type{
			-webkit-text-fill-color: rgba(255, 255, 255, 0.6);
		}
		h1.jki_font{
			-webkit-text-fill-color: rgba(255, 255, 255, 0.2) !important;
		}
		.hero-wrap .slider-text h1 {
    	font-size: 160px !important;
		}
		.hero-wrap .overlay {
    	left: 0 !important;
		}
		.heading-section h2{
		color:#EC3237;
		}
		</style>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand jki_font" href="/"><img src="{% static 'images/jki.png' %}" style="
					height: 20px;
			"> Japan Karate India</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="{% if ifHome == 1 %}javascript:void(0)" data-target="homeSec" class="goTo {% else %}/" class="{% endif %}nav-link">Home</a></li>
						<li class="nav-item"><a href="{% if ifAbout == 1 or ifHome == 1 %}javascript:void(0)" data-target="aboutSec" class="goTo {% else %}{% url 'about' %}" class="{% endif %}nav-link">About</a></li>
	          <li class="nav-item"><a href="{% if ifAccolades == 1 or ifHome == 1 %}javascript:void(0)" data-target="accoSec" class="goTo {% else %}{% url 'accolades' %}" class="{% endif %}nav-link">Accolades</a></li>
	          <li class="nav-item"><a href="{% if ifTrainers == 1 or ifHome == 1 %}javascript:void(0)" data-target="trainerSec" class="goTo {% else %}{% url 'trainers' %}" class="{% endif %}nav-link">Trainers</a></li>
	          <li class="nav-item"><a href="{% if ifNotices == 1 or ifHome == 1 %}javascript:void(0)" data-target="announceSec" class="goTo {% else %}{% url 'notices' %}" class="{% endif %}nav-link">Announcements</a></li>
<!-- 	          <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Merchandise</a></li> -->
	          <li class="nav-item"><a href="{% if ifContact == 1 or ifHome == 1 %}javascript:void(0)" data-target="contactSec" class="goTo {% else %}{% url 'contact' %}" class="{% endif %}nav-link">Contact</a></li>
	        </ul>
	      </div>
		  </div>
	  </nav>
    <!-- END nav -->

{% block 'content' %}{% endblock %}

    <footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>{{footer.about}}</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
              	{% for i in footer.links|loadjson %}
                <li><a href="{{i.url}}" class="py-2 d-block">{{i.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Approach us</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><a class="text" target="_blank" href="{{footer.address_url}}">{{footer.address_text}}</a></li>
	                <li><a href="tel://{{footer.phone1|remBlank}}"><span class="icon icon-phone"></span><span class="text">{{footer.phone1}}</span></a>
	                <a href="tel://{{footer.phone2|remBlank}}"><span class="icon icon-phone"></span><span class="text">{{footer.phone2}}</span></a></li>
	                <li><a href="mailto:{{footer.email1}}?Subject=Query%20for%20JKI"><span class="icon icon-envelope"></span><span class="text"> {{footer.email1}}</span></a>
	                <a href="mailto:{{footer.email2}}?Subject=Query%20for%20JKI"><span class="icon icon-envelope"></span><span class="text"> {{footer.email2}}</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
  Copyright &copy;2018 All rights reserved | maintained by <a href="https://www.octopuscorp.net/" target="_blank">Octopus Solution</a><!--a href="https://colorlib.com" target="_blank">Colorlib</a-->
  </p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
    <script>
    var mapurl = '{{footer.address_url}}', map_offset = mapurl.split('@')[1].split('/data')[0].split(',');
    
	$(function(){
    	 $('.goTo').click(function(event) {
  		    $('body, html').animate({
  		      scrollTop: $('#'+$(this).data('target')).offset().top - ($(this).data('target')=='contactSec'?55:25)
  		    }, 600);

  		  });
    	var i=0,j=0;
    	$('.trainer-section').find('.img').each(function(){
    		if(i%2==0){ j++; }
    		if(j%2==0){ $(this).addClass('order-xl-last'); }
    		i++;
    	});
    });
    </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6ZuiXmVN5ETv_2tJOV4Y7YKKZ1jkhDpE&libraries=places&callback=initMap"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>