{% extends 'visitors/base.html' %}
{% load staticfiles%}
{% block 'content' %}
<br/><br/><br/><br/>
		<section class="ftco-appointment" id="contactSec">
			<div class="overlay"></div>
    	<div class="container-wrap">
    		<div class="row no-gutters d-md-flex align-items-center">
    			<div class="col-lg-5 d-flex align-self-stretch">
    				<div id="map"></div>
    			</div>
	    		<div class="col-lg-7 appointment ftco-animate">
	          <div class="heading-section ftco-animate">
	            <h2 class="mb-3">Contact With Us</h2>
	            <p>If you have any query, feel free to send us.</p>
	          </div>
	    			<form action="#" class="appointment-form">
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="First Name" required>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Last Name">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="email" class="form-control" placeholder="Email Address" required>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Phone" required>
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message" required></textarea>
		            </div>
		            <div class="form-group ml-md-4">
		              <input type="submit" value="Send" class="btn btn-primary py-3 px-4">
		            </div>
	    				</div>
	    			</form>
	    		</div>    			
    		</div>
    	</div>
    </section>

{% endblock %}