{% extends 'visitors/base.html' %}
{% load staticfiles%}
{% block 'content' %}

    <section class="hero-wrap js-fullheight" id="homeSec">
      <div class="overlay" style="background-image: url({{gcburl}}{{banner.featured_img}});" data-stellar-background-ratio="0.5"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end">
        	<h3 class="v">
        		<a href="https://vimeo.com/45830194" class="popup-vimeo">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<span class="icon-play"></span>
        			</div>
        			<span>Japan Karate India</span> <br>Watch Our Video</a>
        	</h3>
          <div class="col-md-12 text-center ftco-animate">
							<img src="{% static 'images/jki.png' %}" style="
							height: 140px;
					">
            <h1 class="mt-5" style="background-image: url({{gcburl}}images/sample5.jpg);" data-stellar-background-ratio="0.5">{% autoescape off %}{{banner.title}}{% endautoescape %}</h1>
            <!-- <h2>Crossfit. Working Harder</h2> -->
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section ftco-no-pb ftco-no-pt" id="aboutSec">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 img img-2 order-md-last" style='background-image: url({{gcburl}}{{philosophy.featured_img}});'>
    				
    			</div>
    			<div class="col-md-6 py-5">
    				{% for phil in codes %}
    				<div class="program d-flex ftco-animate">
							<div class="icon d-flex mr-lg-3 justify-content-center align-items-center order-lg-last">
								<span class="{{phil.icon}}"></span>
							</div>
							<div class="text ml-5 mr-lg-4 text-lg-right">
								<h3>{{phil.title}}</h3>
								<p>{{phil.description}}</p>
							</div>
  					</div>
  					{% endfor %}
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section testimony-section" id="accoSec" style="background-image: url({{gcburl}}{{accolade.featured_img}});" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
      <div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Merchandise  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3"><a href="{% url 'accolades' %}">{% autoescape off %}{{accolade.title}}{% endautoescape %}</a></h2>
            <p>{% autoescape off %}{{accolade.subtitle}}{% endautoescape %}</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-tournament owl-carousel ftco-owl">
    				{% for award in accolades %}
		    			<div class="col-md-12 item">
		    				<div class="pricing-wrap ftco-animate img" style="background-image: url({{gcburl}}{{award.image}});">
		    					<div class="title p-4">
		    						<h3>{{award.title}}</h3>
		    						<span>{{award.description}}</span>
		    					</div>
		    					<div class="text p-4 d-flex align-items-end">
<!-- 		    						<a href="#" class="btn-custom px-4 py-2">Enroll Now</a> -->
		    						<div>
<!-- 		    							<span class="price">$240.00</span> -->
		    						<h3>{{award.title}}</h3>
		    						<p>{{award.description}}</p>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		              {% endfor %}
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url({{gcburl}}{{counter.featured_img}});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
        	<div class="col-md-10">
        		<div class="row">
        		{% for c in counters %}
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="{{c.1}}">0</strong>
		              	<span>{{c.0}}</span>
		              </div>
		            </div>
		          </div>
		          {% endfor %}
		        </div>
		      </div>
        </div>
      </div>
    </section>



    <section class="ftco-section trainer-section" id="trainerSec">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Trainer  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3"><a href="{% url 'trainers' %}">{% autoescape off %}{{trainer.title}}{% endautoescape %}</a></h2>
            <p>{% autoescape off %}{{trainer.subtitle}}{% endautoescape %}</p>
          </div>
        </div>
    		<div class="row no-gutters">
    			{% for tnr in trainers %}
   				<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url({{gcburl}}{{tnr.image}});"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">{{tnr.designation}}</span>
	    					<h3><a href="#">{{tnr.name}}</a></h3>
	    					<p>{{tnr.bio}}</p>
	    					<ul class="ftco-social-media d-flex mt-4">
				                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
				                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
				                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
				              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			{% endfor %}
    		</div>
    	</div>
    </section>

    
    <section class="ftco-section" id="announceSec">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Tournaments  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3"><a href="{% url 'notices' %}">{% autoescape off %}{{notice.title}}{% endautoescape %}</a></h2>
            <p>{% autoescape off %}{{notice.subtitle}}{% endautoescape %}</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-tournament owl-carousel ftco-owl">
    				{% for ann in notices %}
		    			<div class="col-md-12 item">
		    				<div class="pricing-wrap ftco-animate img" style="background-image: url({{gcburl}}{{ann.image}});">
		    					<div class="title p-4">
		    						<h3>{{ann.title}}</h3>
		    						<span>{{ann.body}}</span>
		    					</div>
		    					<div class="text p-4 d-flex align-items-end">
		    						<a href="{{ann.url}}" class="btn-custom px-4 py-2">Read More..</a>
		    						<div>
<!-- 		    							<span class="price">$240.00</span> -->
		    						<h3>{{ann.title}}</h3>
		    						<p>{{ann.body}}</p>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		              {% endfor %}
		            </div>
		          </div>
		        </div>
          </div>
        </div>
    	</div>
    </section>
    
	{% if merchandise|length > 0 %}
    <section class="ftco-section testimony-section" style="background-image: url({% static 'images/bg_4.jpg' %});" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
      <div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Merchandise  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3">What People Say</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel ftco-owl">
    				{% for item in merchandise %}
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url({% static 'images/person_1.jpg' %})">
		                    <span class="quote d-flex align-items-center justify-content-center">
		                      <i class="icon-quote-left"></i>
		                    </span>
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		                    <p class="name">Roger Scott</p>
		                    <span class="position">Customer</span>
		                  </div>
		                </div>
		              </div>
		              {% endfor %}
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    
	{% if blogs|length > 0 %}
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Read Articles  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3">Recent Blog</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row d-flex">
    		{% for blog in blogs %}
          <div class="col-lg-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static "images/image_1.jpg" %}');">
              </a>
              <div class="text py-4 d-flex">
              	<div class="meta text-center">
              		<span class="day">04</span>
              		<span class="mos">January</span>
              		<span class="yr">2019</span>
              	</div>
              	<div class="desc">
	                <h3 class="heading mt-2"><a href="#">Crossfit Harder Workout</a></h3>
	                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
	              </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
	{% endif %}
		
		<section class="ftco-appointment" id="contactSec">
			<div class="overlay"></div>
    	<div class="container-wrap">
    		<div class="row no-gutters d-md-flex align-items-center">
    			<div class="col-lg-5 d-flex align-self-stretch">
    				<div id="map"></div>
    			</div>
	    		<div class="col-lg-7 appointment ftco-animate">
	          <div class="heading-section ftco-animate">
	            <h2 class="mb-3">Contact With Us</h2>
	            <p>If you have any query, feel free to send us.</p>
	          </div>
	    			<form action="#" class="appointment-form">
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="text" class="form-control" placeholder="First Name" required>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Last Name">
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
		    				<div class="form-group">
		    					<input type="email" class="form-control" placeholder="Email Address" required>
		    				</div>
		    				<div class="form-group ml-md-4">
		    					<input type="text" class="form-control" placeholder="Phone" required>
		    				</div>
	    				</div>
	    				<div class="d-md-flex">
	    					<div class="form-group">
		              <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message" required></textarea>
		            </div>
		            <div class="form-group ml-md-4">
		              <input type="submit" value="Send" class="btn btn-primary py-3 px-4">
		            </div>
	    				</div>
	    			</form>
	    		</div>    			
    		</div>
    	</div>
    </section>

{% endblock %}