{% extends 'visitors/base.html' %}
{% block 'content' %}
     <section class="ftco-section" id="announceSec">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Tournaments  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3">{% autoescape off %}{{notice.title}}{% endautoescape %}</h2>
            <p>{% autoescape off %}{{notice.subtitle}}{% endautoescape %}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          	<div class="row">
    				{% for ann in notices %}
		    			<div class="col-md-6 item">
		    				<div class="pricing-wrap img" style="background-image: url({{gcburl}}{{ann.image}});">
		    					<div class="title p-4">
		    						<h3>{{ann.title}}</h3>
		    						<span>{{ann.body}}</span>
		    					</div>
		    					<div class="text p-4 d-flex align-items-end">
		    						<a href="{{ann.url}}" class="btn-custom px-4 py-2">Read More..</a>
		    						<div>
<!-- 		    							<span class="price">$240.00</span> -->
		    						<h3>{{ann.title}}</h3>
		    						<p>{{ann.body}}</p>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		              {% endfor %}
		        </div>
          </div>
        </div>
    	</div>
    </section>

{% endblock %}