{% extends 'visitors/base.html' %}
{% block 'content' %}

    <section class="ftco-section trainer-section" id="trainerSec">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
<!--           	<span class="subheading"> -->
<!--           		<i class="db-left"></i> -->
<!--           		Trainer  -->
<!--           		<i class="db-right"></i> -->
<!--           	</span> -->
            <h2 class="mb-3">{% autoescape off %}{{trainer.title}}{% endautoescape %}</h2>
            <p>{% autoescape off %}{{trainer.subtitle}}{% endautoescape %}</p>
          </div>
        </div>
    		<div class="row no-gutters">
    			{% for tnr in trainers %}
   				<div class="col-lg-6 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url({{gcburl}}{{tnr.image}});"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">{{tnr.designation}}</span>
	    					<h3><a href="#">{{tnr.name}}</a></h3>
	    					<p>{{tnr.bio}}</p>
	    					<ul class="ftco-social-media d-flex mt-4">
				                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
				                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
				                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
				              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			{% endfor %}
    		</div>
    	</div>
    </section>

{% endblock %}