{% extends 'cms/common.html' %}
{% block 'form' %}
   <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit accolades section</h4>
                  <form class="forms-sample" action="/cms/accolades/" method="post" enctype="multipart/form-data">
                  <input name="type" type="hidden" value="section"/>
                   <div class="form-group">
                      <label for="sect_title">Accolades Heading</label>
                      <input type="text" class="form-control" name="sect_title" id="sect_title" placeholder="Heading" value="{{data.title}}" required>
                    </div>
                   <div class="form-group">
                      <label for="sect_subtitle">Accolades Sub-Heading</label>
                      <textarea class="form-control" name="sect_subtitle" id="sect_subtitle" placeholder="Sub-Heading" required>{{data.subtitle}}</textarea>
                    </div>
                    <div class="form-group">
                      <label>Background Image</label>
                      <input type="file" name="banner_bg" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Section Background" required>
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div><br/>
                      <img class="img-responsive" src="{{gcburl}}{{data.featured_img}}" style="
    height: 200px;
">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add a new accolade</h4>
                  <form class="forms-sample" action="/cms/accolades/" method="post" enctype="multipart/form-data">
                  <input name="type" type="hidden" value="new"/>
                    <div class="form-group">
                      <label for="acc_title">Accolade Title</label>
                      <input type="text" class="form-control" name="acc_title" id="acc_title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                      <label for="acc_desc">Accolade Description</label>
                      <input type="text" class="form-control" name="acc_desc" id="acc_desc" placeholder="Description" required>
                    </div>
                    <div class="form-group">
                      <label>Accolade Image</label>
                      <input type="file" name="acc_img" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Accolade Image" required>
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="acc_ft">Feature on Homepage :</label>
                      <input type="checkbox" name="acc_ft" id="acc_ft" style="margin: 4px;" checked/>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Existing accolades :</h4>
                  {% for acc in arr %}
                      <h3>
	                      {{acc.title}}
	                      <small class="text-muted">
	                        {{acc.description}}..
	                      </small>
	                    </h3><hr/>
	              {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}