{% extends 'cms/common.html' %}
{% block 'form' %}
   <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit banner section</h4>
                  <form class="forms-sample" action="/cms/banner/" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="banner_text">Banner Text <small>(add '&lt;br&gt;' to add line break)</small></label>
                      <input type="text" class="form-control" name="banner_text" id="banner_text" placeholder="Banner Text" value="{{data.title}}">
                    </div>
                    <div class="form-group">
                      <label>Background Image</label>
                      <input type="file" name="banner_bg" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Banner Background">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div><br/>
                      <img class="img-responsive" src="{{gcburl}}{{data.featured_img}}" style="
    height: 200px;
">
                    </div>
<!--                     <div class="form-group"> -->
<!--                       <label>Text Background Image</label> -->
<!--                       <input type="file" name="banner_text_bg" class="file-upload-default"> -->
<!--                       <div class="input-group col-xs-12"> -->
<!--                         <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Banner Text Background"> -->
<!--                         <span class="input-group-append"> -->
<!--                           <button class="file-upload-browse btn btn-primary" type="button">Upload</button> -->
<!--                         </span> -->
<!--                       </div><br/> -->
<!--                       <img class="img-responsive" src="https://storage.googleapis.com/octopus-ae-1.appspot.com/jki/images/sample1.jpg" style=" -->
<!-- /*     height: 200px; */ -->
<!-- "> -->
<!--                     </div> -->
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="footer-wrap">
              <div class="w-100 clearfix">
                <span class="d-block text-center text-sm-left d-sm-inline-block">Copyright &copy 2018 <a href="https://www.templatewatch.com/" target="_blank">templatewatch</a>. All rights reserved.</span>
              </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
{% endblock %}