{% load staticfiles %}
{% load custom_filter %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'admin/vendors' %}/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="{% static 'admin/vendors' %}/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'admin/vendors' %}/select2/select2.min.css">
  <link rel="stylesheet" href="{% static 'admin/vendors' %}/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin/css' %}/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'admin/images' %}/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid">
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/cms/banner/"><img src="{% static 'images/jki.png' %}" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" href="/cms/banner/"><img src="{% static 'images/jki.png' %}" alt="logo"/></a>
            </div>
            <div class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <span class="nav-profile-name">Johnson</span>
                    <span class="online-status"></span>
                    <img src="{% static 'admin/images' %}/faces/face28.png" alt="profile"/>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
<!--                       <a class="dropdown-item"> -->
<!--                         <i class="mdi mdi-settings text-primary"></i> -->
<!--                         Settings -->
<!--                       </a> -->
                      <a class="dropdown-item">
                        <i class="mdi mdi-logout text-primary"></i>
                        Logout
                      </a>
                  </div>
            </div>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </div>
      </nav>
      <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
              <li class="nav-item">
                <a class="nav-link" href="/cms/banner/">
                  <i class="mdi mdi-file-document-box menu-icon"></i>
                  <span class="menu-title">Banner</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cms/philosophy/">
                    <i class="mdi mdi-cube-outline menu-icon"></i>
                    <span class="menu-title">Philosophy</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cms/accolades/">
                    <i class="mdi mdi-chart-areaspline menu-icon"></i>
                    <span class="menu-title">Accolades</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cms/students/">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Students</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cms/trainers/">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Trainers</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cms/notices/">
                    <i class="mdi mdi-grid menu-icon"></i>
                    <span class="menu-title">Announcements</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cms/offices/">
                    <i class="mdi mdi-finance menu-icon"></i>
                    <span class="menu-title">Offices</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/cms/footer/">
                    <i class="mdi mdi-codepen menu-icon"></i>
                    <span class="menu-title">Footer</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                    <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                    <span class="menu-title">Merchandise</span></a>
              </li>
            </ul>
        </div>
      </nav>
    </div>
     {% block 'form' %}{% endblock %}
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="footer-wrap">
              <div class="w-100 clearfix">
                <span class="d-block text-center text-sm-left d-sm-inline-block">Copyright &copy 2018 <a href="https://www.templatewatch.com/" target="_blank">templatewatch</a>. All rights reserved.</span>
              </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{% static 'admin/vendors' %}/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'admin/js' %}/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static 'admin/vendors' %}/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="{% static 'admin/vendors' %}/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'admin/js' %}/file-upload.js"></script>
  <script src="{% static 'admin/js' %}/typeahead.js"></script>
  <script src="{% static 'admin/js' %}/select2.js"></script>
  <!-- End custom js for this page-->
<!--   <script> -->
//   $(function(){
// 	  $('.edit-off').click(function(){
// 		  $('#saveForm').addClass('hidden');
// 		  $('input[name="edit"]').val($(this).data('id'));
// 		  $('#editForm').removeClass('hidden');
// 		  window.scrollTop = $('#editForm').scrollTop;
// 	  });
//   });
<!--   </script> -->
</body>

</html>
