{% extends 'cms/common.html' %}
{% block 'form' %}
   <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit footer content</h4>
                  <form class="forms-sample" action="/cms/footer/" method="post">
                    <div class="form-group">
                      <label for="about">About Text <small>(add '&lt;br&gt;' to add line break)</small></label>
                      <textarea class="form-control" name="about" id="about" placeholder="About Text">{{data.about}}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <textarea class="form-control" name="address" id="address" placeholder="Address">{{data.address_text}}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="gmap">Google Maps link</label>
                      <textarea class="form-control" name="gmap" id="gmap" placeholder="Google Maps Url">{{data.address_url}}</textarea>
                    </div>
                   <div class="form-group">
                      <label for="phone1">Phone number 1</label>
                      <input type="text" class="form-control" name="phone1" id="phone1" placeholder="Phone number 1" value="{{data.phone1}}" required>
                    </div>
                   <div class="form-group">
                      <label for="phone2">Phone number 2</label>
                      <input type="text" class="form-control" name="phone2" id="phone2" placeholder="Phone number 2" value="{{data.phone2}}">
                    </div>
                   <div class="form-group">
                      <label for="email1">Email 1</label>
                      <input type="text" class="form-control" name="email1" id="email1" placeholder="Email 1" value="{{data.email1}}" required>
                    </div>
                   <div class="form-group">
                      <label for="email2">Email 2</label>
                      <input type="text" class="form-control" name="email2" id="email2" placeholder="Email 2" value="{{data.email2}}">
                    </div>
                   <div class="form-group">
                      <label for="facebook">Facebook</label>
                      <input type="text" class="form-control" name="facebook" id="facebook" placeholder="Facebook" value="{{data.facebook}}">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}