{% extends 'cms/common.html' %}
{% block 'form' %}
   <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Announcements section</h4>
                  <form class="forms-sample" action="/cms/notices/" method="post" enctype="multipart/form-data">
                  <input name="type" type="hidden" value="section"/>
                   <div class="form-group">
                      <label for="sect_title">Announcements Heading</label>
                      <input type="text" class="form-control" name="sect_title" id="sect_title" placeholder="Heading" value="{{data.title}}" required>
                    </div>
                   <div class="form-group">
                      <label for="sect_subtitle">Announcements Sub-Heading</label>
                      <textarea class="form-control" name="sect_subtitle" id="sect_subtitle" placeholder="Sub-Heading" required>{{data.subtitle}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add a new announcement</h4>
                  <form class="forms-sample" action="/cms/notices/" method="post" enctype="multipart/form-data">
                  <input name="type" type="hidden" value="new"/>
                    <div class="form-group">
                      <label for="ann_title">Announcement Title</label>
                      <input type="text" class="form-control" name="ann_title" id="ann_title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                      <label for="ann_desc">Announcement Description</label>
                      <textarea class="form-control" name="ann_desc" id="ann_desc" placeholder="Description" required></textarea>
                    </div>
                    <div class="form-group">
                      <label>Announcement Image</label>
                      <input type="file" name="ann_img" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Announcement Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="ann_ft">Feature on Homepage :</label>
                      <input type="checkbox" name="ann_ft" id="ann_ft" style="margin: 4px;" checked/>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Existing announcements :</h4>
                  {% for ann in arr %}
                      <h3>
	                      {{ann.title}}
	                      <small class="text-muted">
	                        {{ann.description}}..
	                      </small>
	                    </h3><hr/>
	              {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}