{% extends 'cms/common.html' %}
{% block 'form' %}
   <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
        {% if edit is None %}
          <div class="row" id="saveForm">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add a new office detail</h4>
                  <form class="forms-sample" action="/cms/offices/" method="post">
                  <input name="type" type="hidden" value="new"/>
                    <div class="form-group">
                      <label for="off_title">Office Title</label>
                      <input type="text" class="form-control" name="off_title" id="off_title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                      <label for="off_address">Office Address</label>
                      <textarea class="form-control" name="off_address" id="off_address" placeholder="Address" required></textarea>
                    </div>
                    <div class="form-group">
                      <label for="off_gmap">Office Google Maps Url</label>
                      <input type="text" class="form-control" name="off_gmap" id="off_gmap" placeholder="Google Maps Url" required>
                    </div>
                    <div class="form-group">
                      <label for="off_person">Contact Person</label>
                      <input type="text" class="form-control" name="off_person" id="off_person" placeholder="Contact Person" required>
                    </div>
                    <div class="form-group">
                      <label for="off_phone1">Office Phone Number 1</label>
                      <input type="text" class="form-control" name="off_phone1" id="off_phone1" placeholder="Phone Number 1" required>
                    </div>
                    <div class="form-group">
                      <label for="off_phone2">Office Phone Number 2</label>
                      <input type="text" class="form-control" name="off_phone2" id="off_phone2" placeholder="Phone Number 2">
                    </div>
                    <div class="form-group">
                      <label for="off_email1">Office Email 1</label>
                      <input type="text" class="form-control" name="off_email1" id="off_email1" placeholder="Email 1" required>
                    </div>
                    <div class="form-group">
                      <label for="off_email2">Office Email 2</label>
                      <input type="text" class="form-control" name="off_email2" id="off_email2" placeholder="Email 2">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% else %}
        <div class="row" id="editForm">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Update office detail</h4>
                  <form class="forms-sample" action="/cms/offices/" method="post">
                  <input name="edit" type="hidden" value="{{edit}}"/>
                    <div class="form-group">
                      <label for="off_title">Office Title</label>
                      <input type="text" class="form-control" name="off_title" id="off_title" placeholder="Title" value="{{target.title}}" required>
                    </div>
                    <div class="form-group">
                      <label for="off_address">Office Address</label>
                      <textarea class="form-control" name="off_address" id="off_address" placeholder="Address" required>{{target.address}}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="off_gmap">Office Google Maps Url</label>
                      <input type="text" class="form-control" name="off_gmap" id="off_gmap" placeholder="Google Maps Url" value="{{target.gmap}}" required>
                    </div>
                    <div class="form-group">
                      <label for="off_person">Contact Person</label>
                      <input type="text" class="form-control" name="off_person" id="off_person" placeholder="Contact Person" value="{{target.person}}" required>
                    </div>
                    <div class="form-group">
                      <label for="off_phone1">Office Phone Number 1</label>
                      <input type="text" class="form-control" name="off_phone1" id="off_phone1" placeholder="Phone Number 1"  value="{{target.phone1}}" required>
                    </div>
                    <div class="form-group">
                      <label for="off_phone2">Office Phone Number 2</label>
                      <input type="text" class="form-control" name="off_phone2" id="off_phone2" placeholder="Phone Number 2"  value="{{target.phone2}}">
                    </div>
                    <div class="form-group">
                      <label for="off_email1">Office Email 1</label>
                      <input type="text" class="form-control" name="off_email1" id="off_email1" placeholder="Email 1" value="{{target.email1}}" required>
                    </div>
                    <div class="form-group">
                      <label for="off_email2">Office Email 2</label>
                      <input type="text" class="form-control" name="off_email2" id="off_email2" placeholder="Email 2" value="{{target.email2}}">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Existing Office data :</h4>
                  {% for off in data %}
                      <h3>
	                     
                    <a href="{% url 'offices' %}?edit={{off.id}}" class="btn btn-primary btn-sm mr-2 edit-off">Edit</a> {{off.title}}
	                      <small class="text-muted">
	                        {{off.address}}..
	                      </small>
	                    </h3><hr/>
	              {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}