{% extends 'cms/common.html' %}
{% block 'form' %}
   <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit philosophy section</h4>
                  <form class="forms-sample" action="/cms/philosophy/" method="post" enctype="multipart/form-data">
					{% for cl in arr %}
					<p>Clause {{forloop.counter}} :</p>
                    <div class="form-group">
                      <label for="clause_title{{forloop.counter}}">Title</label>
                      <input type="text" class="form-control" name="clause_title" id="clause_title{{forloop.counter}}" placeholder="Clause Title" value="{{cl.title}}">
                    </div>
                    <div class="form-group">
                      <label for="clause_body{{forloop.counter}}">Body</label>
                      <textarea class="form-control" name="clause_body" id="clause_body{{forloop.counter}}" placeholder="Clause Body">{{cl.description}}</textarea>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                      <label>Background Image</label>
                      <input type="file" name="section_bg" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Section Background">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div><br/>
                      <img class="img-responsive" src="{{gcburl}}{{data.featured_img}}" style="
    height: 200px;
">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}