{% extends 'cms/common.html' %}
{% block 'form' %}
   <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Trainers section</h4>
                  <form class="forms-sample" action="/cms/trainers/" method="post" enctype="multipart/form-data">
                  <input name="type" type="hidden" value="section"/>
                   <div class="form-group">
                      <label for="sect_title">Trainers Heading</label>
                      <input type="text" class="form-control" name="sect_title" id="sect_title" placeholder="Heading" value="{{data.title}}" required>
                    </div>
                   <div class="form-group">
                      <label for="sect_subtitle">Trainers Sub-Heading</label>
                      <textarea class="form-control" name="sect_subtitle" id="sect_subtitle" placeholder="Sub-Heading" required>{{data.subtitle}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add a new Trainer</h4>
                  <form class="forms-sample" action="/cms/trainers/" method="post" enctype="multipart/form-data">
                  <input name="type" type="hidden" value="new"/>
                    <div class="form-group">
                      <label for="trn_title">Trainer Name</label>
                      <input type="text" class="form-control" name="trn_name" id="trn_name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                      <label for="trn_desc">Trainer Bio</label>
                      <textarea class="form-control" name="trn_bio" id="trn_bio" placeholder="Bio"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="trn_title">Trainer Designation</label>
                      <input type="text" class="form-control" name="trn_desig" id="trn_desig" placeholder="Designation" required>
                    </div>
                    <div class="form-group">
                      <label for="trn_desc">Trainer Phone</label>
                      <input type="text" class="form-control" name="trn_phone" id="trn_phone" placeholder="Phone" required>
                    </div>
                    <div class="form-group">
                      <label for="trn_title">Trainer Email</label>
                      <input type="text" class="form-control" name="trn_email" id="trn_email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <label for="trn_desc">Trainer Facebook Profile</label>
                      <input type="text" class="form-control" name="trn_fb" id="trn_fb" placeholder="Facebook Link">
                    </div>
                    <div class="form-group">
                      <label>Trainer Image</label>
                      <input type="file" name="trn_img" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Trainer Image" required>
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="trn_ft">Feature on Homepage :</label>
                      <input type="checkbox" name="trn_ft" id="trn_ft" style="margin: 4px;" checked/>
                    </div>
<!--                     <div class="form-group"> -->
<!--                       <label>Text Background Image</label> -->
<!--                       <input type="file" name="banner_text_bg" class="file-upload-default"> -->
<!--                       <div class="input-group col-xs-12"> -->
<!--                         <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Banner Text Background"> -->
<!--                         <span class="input-group-append"> -->
<!--                           <button class="file-upload-browse btn btn-primary" type="button">Upload</button> -->
<!--                         </span> -->
<!--                       </div><br/> -->
<!--                       <img class="img-responsive" src="https://storage.googleapis.com/octopus-ae-1.appspot.com/jki/images/sample1.jpg" style=" -->
<!-- /*     height: 200px; */ -->
<!-- "> -->
<!--                     </div> -->
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Existing Trainers :</h4>
                  {% for trn in arr %}
                      <h3>
	                      {{trn.name}}
	                    </h3><hr/>
	              {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
{% endblock %}